USE [master]
GO
/****** Object:  Database [MonitorLibrary]    Script Date: 01/30/2012 14:44:58 ******/
CREATE DATABASE [MonitorLibrary] ON  PRIMARY 
( NAME = N'MonitorLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.ENVY\MSSQL\DATA\MonitorLibrary.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MonitorLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.ENVY\MSSQL\DATA\MonitorLibrary_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MonitorLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MonitorLibrary]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 01/30/2012 14:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PluginType]    Script Date: 01/30/2012 14:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PluginType](
	[PluginTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PluginTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Plugin]    Script Date: 01/30/2012 14:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Plugin](
	[PluginID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[PluginTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PluginID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Organizer]    Script Date: 01/30/2012 14:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizer](
	[OrganizerID] [int] IDENTITY(1,1) NOT NULL,
	[PluginID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrganizerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 01/30/2012 14:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Info] [varchar](max) NOT NULL,
	[PluginID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK__Plugin__PluginTy__3F466844]    Script Date: 01/30/2012 14:44:59 ******/
ALTER TABLE [dbo].[Plugin]  WITH CHECK ADD FOREIGN KEY([PluginTypeID])
REFERENCES [dbo].[PluginType] ([PluginTypeID])
GO
/****** Object:  ForeignKey [FK__Organizer__Plugi__4AB81AF0]    Script Date: 01/30/2012 14:44:59 ******/
ALTER TABLE [dbo].[Organizer]  WITH CHECK ADD FOREIGN KEY([PluginID])
REFERENCES [dbo].[Plugin] ([PluginID])
GO
/****** Object:  ForeignKey [FK__Organizer__Servi__4BAC3F29]    Script Date: 01/30/2012 14:44:59 ******/
ALTER TABLE [dbo].[Organizer]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
/****** Object:  ForeignKey [FK__Log__PluginID__44FF419A]    Script Date: 01/30/2012 14:44:59 ******/
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([PluginID])
REFERENCES [dbo].[Plugin] ([PluginID])
GO
